.sidebar {

    float: left;

    padding: 10px;
    border-right-style: groove;



    /* Should be removed. Only for demonstration */

}

.Main {
    float: left;
    width: 75%;
    padding: 10px;




}

h6 {
    color: #a79e9e
}

.heading {
    float: left;
    font-weight: bolder;
    font-family: "Times New Roman",
        Times,
        serif;
    margin-top: 185px;
}

#sidebar-content {
    font-family: Arial,
        Helvetica,
        sans-serif;
    width: 100%;
}

#sidebar-content td {
    padding: 28px;
    color: rgb(100, 100, 100);
    font-weight: bold;

}

.contact {
    background-color: rgb(221, 230, 252);
    color: blue;
    padding: 15px;
}

.card-body {

    border-radius: 65px;
}

#sidebar-content th {

    padding: 18px;
    color: blue;
    font-weight: bold;

}

.member-div-para {
    text-align: center;

    padding-top: 15px;
    padding-bottom: 15px;

}

.avatar {
    vertical-align: middle;
    width: 50px;
    height: 50px;
    border-radius: 50%;
    position: fixed;
    margin-top: 25px;
}

.member-div {
    background-color: rgb(221, 230, 252);
    margin-top: 15px;
    margin-left: 15px;
    margin-right: 15px;
    border-radius: 15px;

}

.member {
    color: #645e5e;

}

.instructor {
    color: blue;

}

.modal-content {
    border-radius: 15px !important;
    background-color: transparent !important;
    border-color: transparent !important;

}

#sidebar-content tr:hover {
    background-color: #ddd;
}

#sidebar-content th {
    color: rgb(55, 111, 231);
    font-weight: bold;
}

 

 

 

 



.modal-div {
    margin-top: 15px;
}



.span-class {
    margin-left: 15px;
}

.card-text {
    text-align: center;
    font-family: Arial,
        Helvetica,
        sans-serif;
}

.card-holder {
    margin-top: 180px;

display: grid;
grid-template-columns: auto auto auto;
padding: 10px;
}

.single-card {
    margin-right: 40px;
    
    padding: 20px;
    font-size: 30px;
    text-align: center;
 
}
.card-text{
    margin-top:70px  !important;
    color:#ddd

}
.card-body{
    background-color: rgb(78, 107, 185) !important;
}
.card{
    border-color: transparent !important;

}
 